# Core Shiny dependencies
shiny>=0.6.0
python-dotenv

# Chat interface dependencies
shinychat
chatlas

# Voice interface dependencies
# shinyrealtime is only available from GitHub
git+https://github.com/posit-dev/shinyrealtime.git
faicons